body {
      padding: 0;
      margin: 0;
    }
  html, body, #map {
                  height: 100%;
        font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
    }
  .lorem {
        font-style: italic;
        color: #AAA;
      }

  .leaflet-left{
             width:50%;
              }
  #form {
      height: 100%;
      width: 16%;
      float: right;
      padding: 40px 2%;
}

